<!DOCTYPE html>
<html>
<title>TIXPA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<body>

<!-- Side Navigation -->
<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-xxxlarge w3-text-theme">Close <i class="fa fa-remove"></i></a>
  <a href="javascript:void(0)">关于 TIXPA</a>
  <a href="javascript:void(0)">合作伙伴</a>
  <a href="javascript:void(0)">联系我们</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-opennav"></i>
  <div class="w3-center">
  <h4>澳大利亚最大华人票务网站 - TIXPA.COM</h4>
  <h1 class="w3-xxxlarge w3-padding-64">德云社20周年郭德纲10月墨尔本专场</h1>
  </div>
</header>

<div id="app" class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-twothird">
    <div class="w3-card-2 w3-padding-top" style="min-height:640px">
      <div v-show="!is_event_time_selected">
        <h4>选择演出时间</h4><br>
        <i class="fa fa-calendar w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <ul class="w3-ul">
          <li v-for="event_time in event_times" @click="is_event_time_selected=true,event_time_selected=event_time" class="w3-hover-red w3-padding-16 w3-xlarge"><i class="fa fa-clock-o"></i>{{ event_time }}</li>        
        </ul>
      </div>
      <div v-show="is_event_time_selected">
        <p class="w3-red w3-large">演出时间: {{ event_time_selected }} <span class="w3-small" style="text-decoration:underline;cursor:pointer;" @click="event_time_selected='',is_event_time_selected=false;">(重新选择)</span></p>
      </div>
      <div v-show="is_event_time_selected && !is_seat_area_selected">
        <img   v-bind:src="event_seat_image" style="width:100%;"/>
        <div class="w3-dropdown-hover">
          <button class="w3-btn w3-red">选择座位区域</button>
          <div class="w3-dropdown-content w3-border">
            <a href="#" v-for="seat_area in seat_areas" @click="is_seat_area_selected=true,seat_area_selected=seat_area">{{ seat_area.Name }}</a>
          </div>
        </div>
        <br/><br/><br/><br/>
      </div>
      <div v-show="is_seat_area_selected">
        <p class="w3-red w3-large">座位区域: {{ seat_area_selected.Name }} <span class="w3-small" style="text-decoration:underline;cursor:pointer;" @click="seat_area_selected='',is_seat_area_selected=false;">(重新选择)</span></p>  
      </div>
      
      <div class="w3-card-2 w3-padding-top">
        <p class="w3-large" v-show="!is_seat_area_selected">{{ event_intro }}</p> 
        <div v-show="is_seat_area_selected"> 
          <h4>选择座位</h4>
          <seats :seat_area_selected="seat_area_selected"></seats>
        </div>
      </div>

    </div>
  </div>



<div class="w3-third">
  <div class="w3-card-2 w3-padding-top" style="min-height:640px">
    <img src="http://d35kvm5iuwjt9t.cloudfront.net/dbimages/sfx165256.png" style="width:100%;"/>
    <div class="w3-container w3-center w3-border w3-red">
      <p class="">演出场地: {{ event_place }}</p>
    </div>
    
    <p class="w3-padding-8"></p>
    <div class="w3-animate-bottom" v-if="seat_selected[3].length>0">
      {{ seat_ranks['3'].Name }} X {{ seat_selected['3'].length }} = ${{ subtotal_3 }}
      <p class=""><span class="w3-border w3-padding" v-for="seat_selected in seat_selected['3']">{{ seat_selected }}&nbsp;<i @click="delete_ticket(seat_selected,'3')" class="fa fa-close"></i></span></p>
    </div>
    <div class="w3-animate-bottom" v-if="seat_selected[2].length>0">
      {{ seat_ranks['2'].Name }} X {{ seat_selected['2'].length }} = ${{ subtotal_2 }}
      <p class=""><span class="w3-border w3-padding" v-for="seat_selected in seat_selected['2']">{{ seat_selected }}&nbsp;<i @click="delete_ticket(seat_selected,'2')" class="fa fa-close"></i></span></p>
    </div>
    <div class="w3-animate-bottom" v-if="seat_selected[1].length>0">
      {{ seat_ranks['1'].Name }} X {{ seat_selected['1'].length }} = ${{ subtotal_1 }}
      <p class=""><span class="w3-border w3-padding" v-for="seat_selected in seat_selected['1']">{{ seat_selected }}&nbsp;<i @click="delete_ticket(seat_selected,'1')" class="fa fa-close"></i></span></p>
    </div>
    
    <div class="w3-animate-bottom" v-if="seat_selected[3].length>0 || seat_selected[2].length>0 || seat_selected[1].length>0" class="w3-padding-16">
      <p>支付总金额: ${{ total_amt }}</p>
      <button class="w3-btn w3-red">支付订单</button>
      <p class="w3-padding-8"></p>
    </div>

  </div>
</div>
</div>

<br>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16 w3-center  ">
<div class="w3-xlarge w3-padding-32">
  <a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
   <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
   <a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
   <a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
   <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
 </div>
  <p style="font-weight:normal">TIXPA.COM</a></p>
</footer>

<!-- Script for Sidenav, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidenav");
    x.style.width = "100%";
    x.style.textAlign = "center";
    x.style.fontSize = "50px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}
</script>

<!-- vue script -->
<script src="./dist/build.js"></script>

</body>
</html>


